<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>2 Column Layout</title>
    <style>
      .one {
        width: 20%;
        height: 100%;
        background-color: darkgreen;
        position: absolute;
        top:0%;
        left:0%;
      }
      .two {
        width: 80%;
        height: 100%;
        background-color: aqua;
        position: absolute;
        top:0%;
        left:20%;
      }
    </style>
  </head>
  <body>
    <div class="one">

    </div>
    <div class="two">

    </div>
  </body>
</html>
