<form action="/test" method="post">
  <select name="num">
    <option value="1">Test 1</option>
    <option value="2">Test 2</option>
    <option value="3">Test 3</option>
  </select>
  <button type="submit" name="button">Run Test</button>
</form>
