<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ex.js</title>
  </head>
  <body>
    <ol>
      {{#each animals}}
        {{#if favorite}}
          <li>{{name}}</li>
        {{/if}}
      {{/each}}
    </ol>
  </body>
</html>
