body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.emph_text {
  font-family: 'Roboto Slab', serif;
}

.noshow {
  display: none;
}

.text_contain {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-color: rgb(146,186,225);
}

.app_cover {
  position:absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(128,128,128, 0.8);
}

.add_contact_wrap {
  position: absolute;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_contact {
  position: absolute;
  z-index: 10;
  width: 60vw;
  padding: 2%;
  background-color: rgb(0,0,0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.add_title {
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  border-bottom: 5px solid rgb(255,255,255);
  color: rgb(255,255,255);
}

.add_contact > div:nth-child(2n+2) {
  color: white;
  width: 33%;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.add_contact > div,input,select {
  margin-bottom: 2%;
  padding-right: 2%;
}

.form-control {
  width: 40%;
}

#creator_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.create_contact,.go_back {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.create_contact {
  background-color: rgb(0, 168, 17);
}

.go_back {
  background-color: rgb(232, 51, 45);
}

.contact_list {
  width: 100%;
  padding: 2%;
  background-color: rgb(146,186,225)
}

.list_title {
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 200%;
  border-bottom: 5px solid rgb(0,0,0);
}

.app_controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.app_control {
  font-size: 50%;
  line-height: 1em;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: rgb(0,0,0);
  color: white;
}

.contact {
  width: 100%;
  padding: 0 2%;
  border-bottom: 3px dashed rgb(0,0,0);
  height: 7em;
  display: flex;
  flex-direction:column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;

}

.c_name {
  width:70%;
  font-size: 125%;
  display: flex;
  align-items: flex-start;
  line-height: 1em;
  margin: 0.25em 0;
}

.c_name > .text_contain {
  justify-content: flex-start;
}
.c_name > .c_type {
  min-width: auto;
  justify-content: center;
  margin-left: 10px;
}

.contact i {
  margin-right: 5px;
}

.c_email,.c_phone {
  width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.c_type {
 font-size: 80%;
 line-height: 1.25em;
 margin: 0 5px;
 padding: 0 5px;
 border-radius: 5px;
 background-color: white;
 text-transform: capitalize;
}

.controls {
  height: 5em;
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
}

.contact_control,.app_control,.add_control {
  cursor: pointer;
}

.edit,.delete,.favorite {
  width: 50%;
  height: 40%;
  border-radius: 5px;
  color: white;
}

.favorite {
  height: 100%;
  width: auto;
  margin: 0 10px;
  font-size: 3rem;
}

.favorite > i {
  margin: 0;
  padding: 0;
}

.edit {
  background-color: rgb(128, 128, 128);
}

.delete {
  background-color: rgb(232, 51, 45);
}
