body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  background-image: url('../public/cinema.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main > div {
  margin: 25px 0;
}

.search {
  width: 70vw;
  border-radius: 10px;
  background-color: rgba(146,186,225,0.5);
  padding: 2%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.searchTitle {
  align-self: flex-start;
  font-size: 3em;
  color: black;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.5);
}

.searchInput {
  width: 90%;
  margin: 2.5%;
  padding: 1%;
  font-size: 1.5em;
  border-radius: 10px;
  border-color: black;
}

.movies {
  width: 70vw;
  border-radius: 10px;
  background-color: rgba(146,186,225,0.5);
  padding: 2%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

.movie {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie > img {
  max-width: 15vw;
}

.summary {
  width: 70vw;
  border-radius: 10px;
  background-color: rgba(146,186,225,0.5);
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.m_title,.m_release,.m_overview,.m_votes {
  text-align: center;
}

.m_title {
  font-size: 200%;
  background-color: rgba(200,200,200,0.8);
  padding: 5px;
  border-radius: 5px;
  line-height: 1em;
}

.m_release {
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.m_overview {
  padding: 10px;
  background-color: rgba(125,125,125,0.5);
  border-radius: 5px;
  color: white;
}

.m_votes {
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.m_back {
  font-size: 150%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 5px;
  border-radius: 5px;
}
